<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.turbosquid.gloon</string>
        <key>ProgramArguments</key>
        <array>
			<string>/usr/local/bin/gloon</string>
			<string>-l</string>
			<string>:5053</string>
			<string>-n</string>
			<string>*.docker=192.168.64.2</string>
			<string>-n</string>
			<string>*.*.docker=192.168.64.2</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
		<false/>
		<key>StandardErrorPath</key>
		<string>/Users/mowings/gloon.log</string>
    </dict>
</plist>
